.FilterList_Select {
 background-color: var(--dark);
 font-size: var(--textNormal);
 color: var(--white);

 border-radius: 5px;
 width: 200px;
 padding: 5px 10px;
 margin-bottom: 10px;
}

@media (max-width: 426px) {
 .FilterList {
  display: none;
 }
}
