.button-common {
 border-radius: 5px;
 cursor: pointer;
 font-size: var(--textNormal);
 text-align: center;
 position: relative;
 overflow: hidden;
 padding: 10px 20px;
 color: var(--white);
 background-color: transparent;
 border: none;
 transition: text-decoration 4.5s ease-in-out;
}

.button-common::before {
 content: "";
 position: absolute;
 width: 0;
 height: 2px;
 bottom: 10px;
 left: 50%;
 transition: width 0.4s ease-in-out;
 transform: translateX(-50%);
 background-color: var(--white);
}

.button-common:hover::before {
 width: 100%;
}

.button-red {
 background-color: var(--red);
}

.button-red:hover {
 background-color: var(--light_red);
}
