.themeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 }
 
 .backgroundToogle {
  position: relative;
  top: -0.2rem;
  width: 4rem;
  height: 1.6rem;
  background-color: var(--blue_border);
  border-radius: 1.25rem;
 }
 
 .buttonToogle {
  position: absolute;
  top: 0.15rem;
  left: 0.1rem;
  background-color: var(--dark);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
 }
 