.main-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0px auto;
 background-color: var(--dark);
 color: var(--white);
}

.background-image_container {
 position: relative;
}

.background-image_container > img {
 position: absolute;
 z-index: 1;
 height: 100%;
 width: 100%;
 object-fit: cover;
 filter: brightness(0.2) blur(6px);
}

.wrapp-actors {
 position: relative;
 max-width: 1920px;
 width: 80%;
 margin: auto;
 padding: 30px 0px;
}

.actors-card {
 display: flex;
 gap: 40px;
}

.actors-card_image {
 width: 300px;
 flex: 2;
}

.actors-card_image img {
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.about-actors {
 flex: 4;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.about-actors h3 {
 font-size: 24px;
}

.card-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
 justify-content: space-between;
 gap: 10px;
}

.card-image img {
 height: 280px;
 width: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.movies_card {
 margin-bottom: 30px;
}

.card-image h4 {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.title-movies::after {
 display: block;
 bottom: 2px;
 left: 0;
 content: "";
 height: 2px;
 background: linear-gradient(to right, white, black);
 margin-bottom: 10px;
}

.add-more {
 width: 200px;
 margin: 10px auto;
}

@media (max-width: 1024px) {
 .wrapp-actors {
  width: 100%;
  padding: 10px 10px;
 }
}

@media (max-width: 992px) {
 .actors_backdrop {
  height: 200px;
 }
}

@media (max-width: 768px) {
 .actors-card_image {
  height: 380px;
 }
 .actors-card {
  padding: 10px 5px;
 }
 .card-container {
  gap: 5px;
 }
 .wrapp-actors {
  padding: 5px 5px;
 }
 .movies_card {
  margin-bottom: 10px;
 }
 .about-actors {
  flex: 3;
 }
}

@media (max-width: 425px) {
 .actors-card {
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
 }
 .actors-card_image {
  flex: none;
 }
 .actors_backdrop {
  height: 140px;
 }
}
