.ButtonProfile {
 position: relative;
 height: 5rem;
 width: 5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 border-radius: 50%;
}

.Profile_DropDown {
 position: absolute;
 top: 7rem;
 right: 0.5rem;

 width: 21.25rem;
 height: 11rem;

 transition: 0.4s;
 z-index: 2;
}

.Profile_DropDown.open {
 display: none;
}

.LuUserCircle2 {
 width: 80px;
 height: 80px;
 stroke-width: 0.5;
 color: var(--blue);
}

.ProfifeText_Theme{
  display: flex;
  gap: 1rem;
}