.Body {
 position: relative;
 display: grid;
 grid-template-columns: 25% auto;
 padding: 1.5rem 1rem;
}

.Body_Container {
 display: flex;
 flex-direction: column;
}

.Body_Movies {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: 1rem;
 width: 100%;
}

.Body_btn {
 display: flex;
 white-space: nowrap;
 margin: 1rem auto;
 gap: 1rem;
}

.Body_btn-more:active {
 box-shadow: 0px 0px 0px 0px;
}

.Body_btn-more {
 padding: 0.5rem 2rem;
 cursor: pointer;
 border-radius: 0.5rem;
 border: 2px solid var(--blue_border);
 box-shadow: 3px 3px 3px 0px var(--blue_border);
 background: var(--blue);
 width: 100%;
 color: var(--white);
}

@media (max-width: 1440px) {
 .Body_Movies {
  grid-template-columns: repeat(5, 1fr);
 }
}
@media (max-width: 1024px) {
 .Body {
  grid-template-columns: 35% auto;
 }
 .Body_Movies {
  grid-template-columns: repeat(3, 1fr);
 }
}
@media (max-width: 768px) {
 .Body {
  padding: 1rem 0.5rem;
  grid-template-columns: auto;
 }
 .Body_Movies {
  grid-template-columns: repeat(4, 1fr);
 }
 .Body_SideBar {
  display: none;
 }
}

@media (max-width: 426px) {
 .Body_Movies {
  grid-template-columns: repeat(2, 1fr);
 }

 .Body_Movies > a {
  display: grid;
  align-items: center;
  justify-content: center;
 }
}

@media (max-width: 320px) {
 .Body {
  padding: 0.5rem 0.5rem;
 }

 .Body_Movies {
  grid-template-columns: repeat(2, 1fr);
 }
}
