.filterPage {
 display: flex;
 flex-direction: column;
 background-color: var(--dark);
 color: var(--white);
 padding: 10px;
}

.filterMenu {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
 gap: 10px;
 min-height: 100vh;
}

.filter-card_image {
 margin-bottom: 15px;
}

.filter-card_image img {
 border-radius: 5px;
 height: 240px;
 width: 100%;
 object-fit: cover;
}

.filter-card_image p {
 font-size: 12px;
 color: #ffffffa2;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 margin: 5px 0;
}

.filter-card_image h4 {
 font-size: var(--textNormal);
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.btnNextPage {
 display: flex;
 margin: 0px auto 15px auto;
 gap: 10px;
}

@media (max-width: 425px) {
}
