.filterPage {
 display: flex;
 flex-direction: column;
 background-color: var(--dark);
 color: var(--white);
}

.filterMenu {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
 align-items: center;
 justify-content: start;
 gap: 10px;
 margin: auto;
 padding: 10px 5px;
 width: 100%;
 min-height: 100vh;
}

.filter-card_image {
 width: auto;
 margin-bottom: 15px;
}

.filter-card_image img {
 border-radius: 5px;
 height: 240px;
 width: 100%;
 object-fit: cover;
}

.filter-card_image p {
 font-size: var(--textSmall);
}

.filter-card_image h4 {
 font-size: var(--textLarge);
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.btnNextPage {
 display: flex;
 margin: 0px auto 15px auto;
 gap: 10px;
}

@media (max-width: 425px) {
}
