.MoviesCategory {
 background-color: var(--dark);
 color: var(--white);
 padding: 10px;
 min-height: 100vh;
}

.MoviesCategory h2 {
 margin: 0 0 10px 0;
}

.MoviesCategory-grid {
 display: grid;
 grid-template-columns: repeat(5, minmax(100px, 1fr));
 gap: 10px;
}

.grid_card {
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}

.grid-card-image {
 flex-grow: 1;
}

.grid-card-image h4 {
 text-align: start;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.grid-card-image p {
 font-size: var(--textSmall);
 color: #ffffffa2;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 margin: 5px 0;
}

.grid-card-image img {
 width: 100%;
 height: 400px;
 object-fit: cover;
 border-radius: 5px;
}

.MoviesCategory-btn_container {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 margin: 20px 0 0 0;
}

.MoviesCategory-btn_container p {
 font-size: 18px;
}

.movies-category_page-count {
 display: flex;
 justify-content: center;
 margin-top: 10px;
}

@media (max-width: 1024px) {
 .grid-card-image img {
  height: 320px;
 }
}
@media (max-width: 992px) {
 .MoviesCategory-grid {
  grid-template-columns: repeat(4, minmax(160px, 1fr));
 }
}

@media (max-width: 768px) {
 .MoviesCategory-grid {
  grid-template-columns: repeat(3, minmax(90px, 1fr));
 }
}

@media (max-width: 425px) {
 .MoviesCategory-grid {
  grid-template-columns: repeat(2, minmax(90px, 1fr));
 }
 .grid-card-image img {
  height: 280px;
 }
}
