.Burger {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 position: relative;
 cursor: pointer;

 /* width: 3.5rem;
 height: 2rem; */
}

.BurgerDropDown {
 z-index: 3;
 position: fixed;
 transition: right 1s ease;
 background-color: var(--dark_transp);
 top: 68px;
 width: 200px;
 right: -200px;
 padding: 10px 20px;
 border-radius: 5px;
}

.BurgerDropDown.open {
 right: 0;
}

.BurgerIcon {
 color: white;
 /* fill: var(--white); */
}

.BurgerText {
 display: flex;
 flex-direction: column;
}
