.Burger {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 position: relative;
 cursor: pointer;

 width: 3.5rem;
 height: 2rem;
}

.BurgerDropDown {
 z-index: 2;
 position: absolute;
 top: 100%;
 right: 0.5%;
 width: 14rem;
 height: 11.5rem;

 transition: 0.3s;
}

.BurgerDropDown.open {
 display: none;
}

.BurgerIcon {
 width: 50px;
 height: 50px;
}

