.SideBarFilter {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 90%;
 margin: auto;
}

.SideBarFilter_Container {
 width: 44%;
}

.SideBarFilterBtn {
 cursor: pointer;
 border-radius: 0.5rem;
 border: 2px solid var(--blue_border);
 box-shadow: 6px 6px 7px 0px var(--blue_border);
 background: var(--blue);
 width: 100%;
 padding: 5% 10%;
 color: var(--white);
}

.SideBarFilterBtn:active {
 box-shadow: 2px 2px 2px 0px var(--blue_border);
}

@media (max-width: 1440px) {
  .SideBarFilterBtn{
    font-size: var(--textSmall);
  }
}