.SideBarFilter {
 display: flex;
 align-items: center;
 gap: 20px;
}

.SideBarFilter_Container {
}

.SideBarFilterBtn {
 cursor: pointer;
 padding: 10px 30px;
 background-color: transparent;
 color: var(--white);
 border: 1px solid var(--grey);
}

.SideBarFilterBtn:active {
 box-shadow: 2px 2px 2px 0px var(--blue_border);
}

@media (max-width: 1440px) {
 .SideBarFilterBtn {
  font-size: var(--textSmall);
 }
}
