.SearchBar_Input {
 background-color: var(--dark_transp);
 color: var(--white);
 border: 2px solid var(--grey);
 border-radius: 5px;
 outline: none;
 margin: auto;
 width: 100%;
 font-size: var(--textNormal);
 padding: 10px 20px;
}

::placeholder {
 color: var(--white);
 opacity: 0.7;
}

@media (max-width: 425px) {
 .SearchBar_Input {
  padding: 10px 10px;
 }
}
@media (max-width: 320px) {
 .SearchBar_Input {
  font-size: var(--textSmall);
 }
}
