.user {
 position: relative;
 height: 100vh;
 min-height: 800px;
 background-color: var(--dark);
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--white);
}

.user-form {
 display: flex;
 justify-content: center;
 flex: 1 0;
 margin: 5px 5px;
}

.form-login {
 flex: 1 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 1px solid;
 max-width: 400px;
 padding: 20px 20px;
 gap: 10px;
}

.form-login input {
 width: 100%;
 padding: 10px 10px;
 outline: none;
}
.checkbox-login {
 width: 100%;
 display: flex;
 justify-self: start;
 gap: 10px;
}

.checkbox-login label {
 cursor: pointer;
}

.checkbox-login input {
 width: 20px;
}

.form-login > button {
 padding: 8px 40px;
 background-color: var(--red);
 border: none;
 border-radius: 5px;
 color: var(--white);
 text-transform: uppercase;
 font-weight: bold;
 cursor: pointer;
}

.form-login button:hover {
 background-color: var(--light_red);
}

.form-login span {
 color: var(--red);
 cursor: pointer;
}

.toogleBtn {
 position: absolute;
 top: 20px;
 padding: 5px 30px;
 background-color: transparent;
 border: 1px solid var(--red);
 color: var(--white);
 cursor: pointer;
}
