.Movies {
 background-color: var(--dark);
 color: var(--white);
 font-size: var(--textNormal);
}

.waitLoading {
 height: 100vh;
 background-color: var(--dark);
 color: var(--grey);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: var(--textLarge);
}

@media (max-width: 768px) {
 .Movies {
  font-size: var(--textSmall);
 }
}
