.SideBar {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: var(--dark);
 color: var(--white);
 border-bottom: 1px solid var(--grey);
 padding: 10px 10px;
}

.sidebar_items {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.FilterBarContainer_Container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 margin: 30px auto;
 gap: 10px;
 padding: 0px 5px;
}

.FilterBarContainer_Select {
 text-align: center;
 padding: 8px 20px;
 background-color: var(--dark);
 color: var(--white);
 border-radius: 5px;
}

.FilterBarContainer_Items {
 display: flex;
 gap: 10px;
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
 .FilterBarContainer_Container {
  margin: 20px auto;
  width: 80%;
 }
}
