.SideBar {
 /* height: 55rem; */
 padding-bottom: 10%;
 background-color: var(--dark);
 border-radius: 0.6rem;
 box-shadow: 10px 4px 21px 0px var(--blue_border);
 border-top: 5px solid var(--shadow_side);
 border-left: 5px solid var(--shadow_side);
 margin-right: 1.5rem;
}

.FilterBarContainer_Container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
 margin: 3rem auto;
}

.FilterBarContainer_Select {
  text-align: center;
 width: 70%;
 padding: 0.5rem 1rem;
 background-color: var(--blue);
 color: var(--white);
 border-radius: 0.5rem;
}

.FilterBarContainer_Items {
 display: flex;
 gap: 1.5rem;
}

@media (max-width: 1440px) {
}

@media (max-width: 768px) {
 .SideBar {
  width: 100%;
 }
}
@media (max-width: 426px) {
}
