.ListChoice_Select {
 width: 70%;
 height: 2.5rem;
 font-size: 1.375rem;
 padding-left: 1rem;
 background-color: var(--blue);
 color: var(--white);
 border-radius: 0.5rem;
 
 
}

.ListChoice_Container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5rem auto;
}

@media (max-width: 1440px) {
  .ListChoice_Select {
    font-size: var(--textSmall);
  }
}

