.Header {
 position: relative;
 display: grid;
 grid-template-columns: 25% auto;
 height: 6.25rem;
 background-color: var(--dark);
 box-shadow: 0px 6px 20px 0px var(--blue_border);
}

.Header_Container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

.Header_Logo {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 4rem;
}

.Header_Profile {
 padding-right: 1.5rem;
}

.Header_SearchBar {
 width: 32rem;
}

.Header_Mobile {
 display: flex;
 align-items: center;
 gap: 2rem;
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
 .Header {
  grid-template-columns: 35% auto;
 }

 .Header_SearchBar {
  width: 20rem;
 }
 .Header_Logo {
  font-size: 3rem;
 }
}

@media (max-width: 768px) {
 .Header {
  height: 4rem;
 }

 .Header_Logo {
  font-size: 3rem;
 }
 .Header_SearchBar {
  display: none;
 }
 .Header_Container {
  justify-content: end;
 }
}

@media (max-width: 426px) {
 .Header_Logo {
  font-size: 2rem;
 }
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
 .Header_Mobile {
  gap: 1rem;
 }
}
