.signup {
 min-height: 100vh;
 padding: 20px 0;
 background-color: var(--dark);
 color: var(--white);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 20px;
 /* background-image: url(/public/loginSignup.jpg);
 filter: brightness(0.3); */
}

.form-singup {
 display: flex;
 flex-direction: column;
 max-width: 300px;
 width: 100%;
 gap: 10px;
 border: 1px solid var(--grey);
 padding: 40px;
}

.form-singup input {
 padding: 10px;
 border-radius: 5px;
 outline: none;
}

.input-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.instruct {
 display: flex;
 gap: 5px;
 background-color: var(--light_red);
 border: 1px solid var(--red);
 border-radius: 5px;
 padding: 5px;
}

.signup_btn_container {
 width: 150px;
}

.label-container {
 display: flex;
 align-items: center;
 gap: 5px;
}

.err-msg {
 opacity: 0;
 transition: opacity 0.5s ease-in-out;
}
.err-msg.visible {
 opacity: 1;
}
