@import url("https://fonts.googleapis.com/css2?family=Manuale&display=swap");

:root {
 --dark: #081f3a;
 --light_dark: #0B2C53;
 --white: #fff;
 --blue: #266aaa;
 --blue_border: #208fb1;
 --grey: rgba(255, 255, 255, 0.7);
 --shadow_side: rgba(32, 143, 177, 0.14);

 --textSmall: 1rem;
 --textNormal: 1.25rem;
 --textLarge: 1.75rem;
}

* {
 /* font-size: 16px; */
 font-family: "Manuale", serif;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.df {
 display: flex;
}
.aic {
 align-items: center;
}
.jcc {
 justify-content: center;
}
.jcsb {
 justify-content: space-between;
}

.f11 {
 flex: 1 1 auto;
}
