@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
 --dark: #000;
 --light_dark: #2d2d2d;
 --dark_transp: #000000c3;
 --light_transp: #535353c3;
 --red: #a60000;
 --light_red: #d20000;
 --white: #fff;
 --blue: #266aaa;
 --blue_border: #ffffff84;
 --grey: rgba(255, 255, 255, 0.7);
 --shadow_side: rgba(32, 143, 177, 0.14);

 --textSmall: 14px;
 --textNormal: 16px;
 --textLarge: 18px;
}

* {
 /* font-size: 16px; */
 font-family: "Roboto", sans-serif;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.df {
 display: flex;
}
.aic {
 align-items: center;
}
.jcc {
 justify-content: center;
}
.jcsb {
 justify-content: space-between;
}

.f11 {
 flex: 1 1 auto;
}

.Router-link {
 text-decoration: none;
 color: inherit;
}
