.RightSideMovies_Reviews {
 display: flex;
 flex-direction: column;
 min-width: 400px;
 gap: 10px;
 border: 1px solid var(--grey);
 border-radius: 5px;
 padding: 5px;
}

.author_section {
 display: flex;
 gap: 10px;
}

.author_section > div {
 height: 100px;
 width: 100px;
}

.author_section img {
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.no-avatar {
 height: 100%;
 width: 100%;
 color: rgb(84, 84, 84);
}

.overviews-open {
 white-space: wrap;
 color: var(--grey);
}

.overviews-line-three {
 color: var(--grey);
 white-space: wrap;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
}
