.SearchMobileMenu {
 z-index: 3;
 position: absolute;
 top: 84px;
 right: 0;

 max-width: 800px;
 width: 100%;
 color: white;

 padding: 10px 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 border-radius: 0.5rem;
 border: 1px solid var(--grey);
 background: var(--dark);
}

.SearchMobileBtn {
 display: flex;
 justify-content: end;
}

.SearchMobileBtnBtn {
 color: var(--white);
 font-size: var(--textNormal);
 border-radius: 0.3rem;
 border: 1px solid var(--grey);
 background: var(--red);
 padding: 10px 30px;
 cursor: pointer;
 transition: background 0.3s ease;
}

.SearchMobileBtnBtn:hover {
 background: var(--light_red);
}

.SearchMobileCard {
 display: grid;
 grid-template-columns: 30% auto;
 padding: 5px;
 font-size: var(--textNormal);

 border-radius: 5px;
 border: 1px solid var(--grey);

 margin: 10px auto;
}

.SearchMobileCard_Left {
 display: flex;
}

.SearchMobileCard_ImgContainer {
 padding: 0px 5px;
}

.SearchMobileCard_Img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.SearchMobileCard_Text {
 display: flex;
 gap: 5px;
 color: var(--grey);
}

.SearchMobileCard_Text p {
 color: var(--grey);
}

.SearchMobileCard_Text p:nth-child(1) {
 color: var(--white);
 font-weight: bold;
}

.SearchMobileCard_List {
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
}

.overv {
 flex-direction: column;
}

@media (min-width: 1439px) {
 .SearchMobileCard {
  grid-template-columns: 15% auto;
 }
 /* .SearchMobileMenu {
  top: 80px;
 } */
}

@media (max-width: 768px) {
 .SearchMobileMenu {
  top: 64px;
 }
}

@media (max-width: 425px) {
 .SearchMobileCard {
  font-size: var(--textSmall);
 }
}
