.SearchMobileMenu {
 z-index: 2;
 position: absolute;
 top: 80px;
 left: 0;

 width: 100%;

 border-radius: 0.5rem;
 border: 1px solid var(--grey);
 background: var(--dark_transp);
}

.SearchMobileBtn {
 display: flex;
 justify-content: end;
 width: 95%;
 margin: 1rem auto;
}

.SearchMobileBtnBtn {
 color: var(--white);
 font-size: var(--textNormal);
 border-radius: 0.3rem;
 border: 1px solid var(--grey);
 background: var(--red);
 padding: 0.5rem 2.5rem;
 cursor: pointer;
 transition: background 0.3s ease;
}

.SearchMobileBtnBtn:hover {
 background: var(--light_red);
}

.SearchMobileCard {
 display: grid;
 grid-template-columns: 30% auto;
 padding: 16px 5px;
 font-size: var(--textNormal);

 border-radius: 5px;
 border: 1px solid var(--grey);
 background: var(--dark_transp);

 width: 95%;
 margin: 16px auto;
}

.SearchMobileCard_Left {
 margin-top: 0.5rem;
}

.SearchMobileCard_ImgContainer {
 padding: 0rem 1rem;
}

.SearchMobileCard_Img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 0.5rem;
}

.SearchMobileCard_Text {
 display: flex;
 gap: 0.5rem;
 color: var(--grey);
}

.SearchMobileCard_List {
 display: flex;
 flex-wrap: wrap;
 gap: 0.5rem;
}

@media (min-width: 1439px) {
 .SearchMobileCard {
  grid-template-columns: 15% auto;
 }
 /* .SearchMobileMenu {
  top: 80px;
 } */
}

@media (max-width: 768px) {
 .SearchMobileMenu {
  top: 64px;
 }
}

@media (max-width: 425px) {
 .SearchMobileCard {
  font-size: var(--textSmall);
 }
}
